@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
  
}


